.names {
  display: flex;
  width: 100%;

  justify-content: space-around;
  font-size: 30px;
}
.about {
  display: flex;
  justify-content: center;

  color: #3d405b;
  font-size: 150px;
}
.textAboutUs {
  display: flex;
}
.ari {
  display: flex;
  max-width: 400px;
  margin: 0px;
  flex-wrap: wrap;
  flex-direction: column;
}
.project-info {
  font-size: 50px;
  display: flex;
  justify-content: center;
}
.project-description {
  display: flex;
  justify-content: center;
}
