.navbar {
  display: flex;
  font-size: 1em;
  height: 100px;
  background-color: #8ef6e4;
  border-radius: 50px;
  justify-content: center;
}
.imageLogo {
  width: 100px;
}
.navbarText {
  align-items: center;
  display: flex;
  color: #303030;
}
h1 {
  font-size: 40px;
}
.my-products {
  display: flex;
  justify-content: center;
}
