.productsText {
  max-width: 500px;
}
.product-item {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  border: 0.5px solid;
  border-color: #e07a5f;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f4f1de;
}
.image-products {
  height: 400px;
  width: 500px;
  object-fit: contain;
  background-color: transparent;
}
