:root {
  font-family: "Lucida Console", "Open Sans", sans-serif;
  text-align: left;
  background-color: #f4f1de;
}

body {
  background-color: #f4f1de;
  color: #3d405b;
}

button {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #cc0000;
}
.product-item {
  display: flex;
  flex-flow: column;
  align-items: center;
}
